@using Microsoft.AspNet.Identity
@using Forum.Content.Localization
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("Admin"))
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Resources.Administration <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            @Html.ActionLink(Resources.Categories, "Index", "Category", routeValues: null, htmlAttributes: new { title = Resources.Categories })
                        </li>
                        <li>
                            @Html.ActionLink(Resources.Forums, "Index", "Forum", routeValues: null, htmlAttributes: new { title = Resources.Forums })
                        </li>
                        <li>
                            @Html.ActionLink(Resources.Topics + "*", "Index", "Topic", routeValues: null, htmlAttributes: new { title = Resources.Topics })
                        </li>
                        <li>
                            @Html.ActionLink(Resources.Posts + "*", "Index", "Post", routeValues: null, htmlAttributes: new { title = Resources.Posts })
                        </li>
                        <li class="divider"></li>
                        <li>
                            @Html.ActionLink(Resources.Announcements, "Index", "Announcement", routeValues: null, htmlAttributes: new { title = Resources.Announcements })
                        </li>
                        <li class="divider"></li>
                        <li>
                            @Html.ActionLink(Resources.Users, "Index", "User", routeValues: null, htmlAttributes: new { title = Resources.Users })
                            @Html.ActionLink(Resources.Admins, "ModeratorsList", "Admin", routeValues: null, htmlAttributes: new { title = Resources.Admins })
                            @Html.ActionLink(Resources.HTMLMarkers, "Index", "Html", routeValues: null, htmlAttributes: new { title = Resources.HTMLMarkers })
                            @Html.ActionLink(Resources.Dictionary, "Index", "Dictionary", routeValues: null, htmlAttributes: new { title = Resources.Dictionary })
                        </li>
                    </ul>
                </li>
            }
            <li>
                @Html.ActionLink(@Resources.OwnProfile, "Details", "User", new { userName = User.Identity.GetUserName() }, htmlAttributes: new { title = Resources.OwnProfile })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.LogOut</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(@Resources.SignUp, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(@Resources.LogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
