@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNet.Identity
<div class="container">
    <div class="row navigation-row">
        <a href="@Url.Action("Index", "Home")" class="btn btn-link">Forum</a>
        <b>></b>
        <a href="#" class="btn btn-link">Profil</a>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <b>@User.Identity.GetUserName() - Profil </b>
        </div>
    </div>
    <div class="col-md-3">
        <div class="profile-avatar">
            <img class="avatar-full" src="@Url.Content(@Model.User.AvatarFilename)" />
        </div>
        <div class="panel panel-primary profile-avatar-edit">
            <a href="@Url.Action("EditAvatar", "Manage")" class="btn btn-link">Edytuj</a>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><b>Grupa</b></p>
                <p><b>Postów</b></p>
                <p><b>Tematów</b></p>
            </div>
            <div class="col-md-6">
                <p>Grupa</p>
                <p>@Model.PostsCount</p>
                <p>@Model.TopicsCount</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>
@RenderSection("scripts", required: false)
