@using Forum.Content.Localization
@model Forum.Models.ModeratorsListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.ModeratorsList</h2>
<div class="row">
    <div id="accordion" class="col-md-6">
        @foreach (Forum.Models.Category _category in Model.Categories)
        {
            <h2> @_category.Name</h2>
            <ul>
                @foreach (Forum.Models.Forum _forum in _category.Fora)
                {
                    <li><button onclick="showMods(@_forum.ID)">@_forum.Name</button> </li>
                }
            </ul>


        }
    </div>
    <div class="col-md-6" id="moderatorsList">
    </div>
</div>


@section scripts
{
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet" />
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript">
        var url = '@Url.Action("GetForumModerators", "Admin")';
        function showMods(forumId) {
            $('#moderatorsList').load(url, { ForumID: forumId });
        };
        $(document).ready(function () {
            @if (Model.ActiveCategory.HasValue)
            {
               <text>
                 $("#accordion").accordion({
                     active: @Model.ActiveCategory - 1
                  });
                </text>
            }
            else
            {
                <text>
                 $("#accordion").accordion();
                </text>
            }

            @if (Model.ActiveForum.HasValue)
            {
                <text>
                console.log(@Model.ActiveForum);
                showMods(@Model.ActiveForum);
                </text>
            }

        });

    </script>

}