@using Forum.Content.Localization
@model Forum.Models.ModeratorsListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.ModeratorsList</h2>
<div class="row">
    <div id="accordion" class="col-md-5">
        @foreach (Forum.Models.Category _category in Model.Categories)
        {
            <h2> @_category.Name</h2>
            <ul class="list-group">
                @foreach (Forum.Models.Forum _forum in _category.Fora)
                {
                    <li><a href="#" class="list-group-item list-group-item-text" onclick="showMods(@_forum.ID)">@_forum.Name </a></li>
                }
            </ul>


        }
    </div>
    <div class="col-md-7" id="moderatorsList">
    </div>
</div>


@section scripts
{
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet" />
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript">
        var url = '@Url.Action("GetForumModerators", "Admin")';
        function showMods(forumId, additionError) {
            $('#moderatorsList').load(url, { ForumID: forumId, AdditionError: additionError });
        };
        $(document).ready(function () {

            $("#accordion").accordion({
                heightStyle: "content",
                autoHeight: false,
                @if (Model.ActiveCategory.HasValue)
                    {
                        <text>
                        active: @Model.ActiveCategory - 1
                        </text>
                   }
            });


            @if (Model.ActiveForum.HasValue)
            {
                if (Model.AdditionError.HasValue)
                {
                    <text>
                     showMods(@Model.ActiveForum, @Model.AdditionError);
                    </text>
                }
                else
                {
                    <text>
                     showMods(@Model.ActiveForum, false);
                    </text>
                }
            }
            $(function(){
                $('.list-group a').click(function(e) {
                    e.preventDefault()

                    $that = $(this);

                    $that.parents().find('li').find('a').removeClass('active');
                    $that.addClass('active');
                });
            })
        });

    </script>

}