@using Microsoft.AspNet.Identity
@using Forum.Content.Localization
@model Forum.Models.Post

<h2>@Resources.Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topic.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>


    </dl>
</div>
<p>
    @if (User.Identity.GetUserId() == Model.UserID)
            {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) <span>| </span>
    }
    @Html.ActionLink(Resources.BackToList, "Index")
</p>
