@model Forum.Models.ForumTopicsViewModel
@using Forum.Content.Localization
@using PagedList.Mvc;

<div class="container">
    <div class="row navigation-row">
        <a href="@Url.Action("Index", "Home")" class="btn btn-link">Forum</a>
        <b>></b>
        <a href="@Url.Action("Details", "Category", new { id = Model.Forum.CategoryID })" class="btn btn-link">@Model.Forum.Category.Name</a>
        <b>></b>
        <a href="@Url.Action("Details", "Forum", new { id = Model.Forum.ID })" class="btn btn-link">@Model.Forum.Name</a>
    </div>

    <div class="row navigation-row">
        <div class="pager pull-left">
            @Html.PagedListPager(Model.Topics, page => Url.Action("Details", new { id = Model.Forum.ID, page }))
        </div>

        @if (Model.Forum.IsPublic)
        {
            <a href="@Url.Action("Create", "Topic", new { id = Model.Forum.ID })" class="btn btn-default pull-right">@Resources.NewTopic</a>
        }
        else
        {
            if (User.Identity.IsAuthenticated)
            {
                <a href="@Url.Action("Create", "Topic", new { id = Model.Forum.ID })" class="btn btn-default pull-right">@Resources.NewTopic</a>
            }
        }
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading category-heading">
            @Model.Forum.Name
        </div>
        <table class="table table-striped">
            <thead class="thead-inverse forum-heading">
                <tr>
                    <th class="col-md-6">@Resources.Topics</th>
                    <th class="col-md-2">@Resources.Posts</th>
                    <th class="col-md-2">@Resources.Views</th>
                    <th class="col-md-2">@Resources.LastReply</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Topics.Count == 0)
                {
                    <tr>
                        <td class="col-md-6"><b>@Resources.NoTopics</b></td>
                        <td class="col-md-2"></td>
                        <td class="col-md-2"></td>
                        <td class="col-md-2"></td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model.Topics)
                    {
                        <tr>
                            <td class="col-md-6">
                                @if (item.IsGlued)
                                {
                                    <span class="label label-info">@Resources.Glued</span>
                                }
                                <a href="@Url.Action("Details", "Topic", new { id = item.ID})">
                                    @item.Title
                                    <div class="text-muted description">@item.Description</div>
                                </a>
                            </td>
                            <td class="col-md-2">@item.PostCount</td>
                            <td class="col-md-2">@item.ViewsCount</td>
                            <td class="col-md-2">
                                @{
                                    var post = @item.Posts.ToList()[@item.PostCount - 1];
                                }
                                <div class="text-muted"><span class="glyphicon glyphicon-arrow-right"></span><a href="@Url.Action("ViewPost", "Topic", new { id = @item.ID, postId = @post.ID })">@post.Date.ToString("dd MMMM yyyy HH:mm") </a>  </div>
                                <b>@Resources.By:</b> <a href="@Url.Action("Details", "User", new { userName = @post.User.UserName })">@post.User.UserName</a>

                            </td>
                        </tr>
                                        }
                                    }
            </tbody>
        </table>
    </div>
</div>
