@model IEnumerable<Forum.Models.Forum>
@using Forum.Content.Localization
@{
    ViewBag.Title = "Index";
}

<h2>@Resources.Forums</h2>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPublic)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopicCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPublic)
        </td>
        <td>
            @Html.ActionLink(Resources.Edit, "Edit", new { id=item.ID }) |
            @Html.ActionLink(Resources.Details, "Details", new { id=item.ID }, new { @class = "text-details" }) |
            @Html.ActionLink(Resources.Delete, "Delete", new { id=item.ID }, new { @class = "text-delete", onclick = "return confirm('" + Resources.DeleteConfirmation + "');" })
        </td>
    </tr>
}

</table>

<a href="@Url.Action("Create", "Forum")" class="btn btn-primary btn-sm">@Resources.Add</a>
