@model Forum.Models.TopicViewModel
@using System.Linq
@using Forum.Content.Localization
@{
    ViewBag.Title = Resources.Details;
}

<div class="container">
    <div class="row navigation-row">
        <a href="@Url.Action("Index", "Home")" class="btn btn-link">Forum</a>
        <b>></b>
        <a href="@Url.Action("Details", "Category", new { id = Model.Topic.Forum.CategoryID })" class="btn btn-link">@Model.Topic.Forum.Category.Name</a>
        <b>></b>
        <a href="@Url.Action("Details", "Forum", new { id = Model.Topic.Forum.ID })" class="btn btn-link">@Model.Topic.Forum.Name</a>
        <b>></b>
        <a href="@Url.Action("Details", "Topic", new { id = Model.Topic.ID })" class="btn btn-link">@Model.Topic.Title</a>
    </div>

    <div class="row navigation-row">
        <ul class="pagination pagination-sm">
            @if (Model.CurrentPage == 0)
            {
                <li class="disabled"><a href="#">&laquo;</a></li>
            }
            else
            {
                <li><a href="@Url.Action("Details", "Topic", new { id = Model.Topic.ID, page = Model.CurrentPage - 1 })">&laquo;</a></li>
            }
            @for (int i = 0; i < Model.Pages; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="active"><a href="@Url.Action("Details", "Topic", new { id = Model.Topic.ID, page = i })">@(i + 1)</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Details", "Topic", new { id = Model.Topic.ID, page = i })">@(i + 1)</a></li>
                }
            }
            @if (Model.CurrentPage == Model.Pages - 1)
            {
                <li class="disabled"><a href="#">&raquo;</a></li>
            }
            else
            {
                <li><a href="@Url.Action("Details", "Topic", new { id = Model.Topic.ID, page = Model.CurrentPage + 1 })">&raquo;</a></li>
            }
        </ul>

        @if (Model.Topic.Forum.IsPublic)
        {
            <a href="@Url.Action("Create", "Post", new { id = Model.Topic.ID })" class="btn btn-primary pull-right">@Resources.NewMessage</a>
        }
        else
        {
            if (User.Identity.IsAuthenticated)
            {
                <a href="@Url.Action("Create", "Post", new { id = Model.Topic.ID })" class="btn btn-primary pull-right">@Resources.NewMessage</a>
            }
        }
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                @Model.Topic.Title <span class="text-muted topic-description">@Model.Topic.Description</span>
                @if (Model.Admin || Model.Topic.Forum.Moderators.Any(x => x.Id == Model.CurrentUserId))
                {
                    <a href="@Url.Action("Delete","Topic", new { id = Model.Topic.ID })" class="label label-default right-options">@Resources.Delete</a>
                    <a href="@Url.Action("Edit","Topic", new { id = Model.Topic.ID })" class="label label-default right-options">@Resources.Edit</a>
                }
                else if (Model.CurrentUserId == Model.Topic.UserID)
                {
                    <a href="@Url.Action("Edit","Topic", new { id = Model.Topic.ID })" class="label label-default right-options">@Resources.Edit</a>
                }
            </h3>
        </div>
        <div class="panel-body">

            @foreach (var item in Model.Posts)
            {
                <div class="row post-row">
                    <div class="col-sm-2">
                        <div class="panel panel-default post-user">
                            <div class="panel-heading">
                                @if (item.User == null)
                                {
                                    <h3 class="panel-title">@Resources.Anonymous</h3>
                                }
                                else
                                {
                                    <a href="@Url.Action("Details", "User", new { userName = item.User.UserName })">
                                        <h3 class="panel-title">@item.User.UserName</h3>
                                    </a>
                                }
                            </div>
                            <div class="panel-body">
                                <!-- AVATAR -->
                                <img src="http://letsplej.pl/uploads/avatars/avatar_13921.jpg" />

                                <!-- plus jakies dane o użytkowniku ?? -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="panel panel-default post" name="@item.ID">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    @Html.DisplayFor(modelItem => item.Date)
                                    @if (Model.Admin || Model.Topic.Forum.Moderators.Any(x => x.Id == Model.CurrentUserId))
                                    {
                                        <a href="@Url.Action("Delete","Post", new { id = item.ID })" class="label label-default right-options">@Resources.Delete</a>
                                        <a href="@Url.Action("Edit","Post", new { id = item.ID })" class="label label-default right-options">@Resources.Edit</a>
                                    }
                                    else if (Model.CurrentUserId == item.UserID)
                                    {
                                        <a href="@Url.Action("Edit","Post", new { id = item.ID })" class="label label-default right-options">@Resources.Edit</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("ReportPost","Post", new { id = item.ID, postPage = Model.CurrentPage })" class="label label-default right-options">@Resources.Report</a>
                                    }
                                </h3>
                            </div>
                            <div class="panel-body">
                                @Html.Raw(item.Content.Replace(Environment.NewLine, "<br />"))
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
