@using Microsoft.AspNet.Identity
@model Forum.Models.UserDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.User.UserName)</h2>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="well well-sm">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <img src="http://letsplej.pl/uploads/avatars/avatar_13921.jpg" alt="" class="img-rounded img-responsive center" />
                    <div class="row">
                        <div class="col-sm-8">
                            Postów:
                        </div>
                        <div class="col-sm-4 text-right">
                            @Html.DisplayFor(modelItem => Model.Details.PostsCount)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            Tematów:
                        </div>
                        <div class="col-sm-4 text-right">
                            @Html.DisplayFor(modelItem => Model.Details.TopicsCount)
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-9">
                    <h4>
                        @Model.User.UserName
                    </h4>
                    <small>
                        <cite title="San Francisco, USA">
                            San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                            </i>
                        </cite>
                    </small>
                    <p>
                        <i class="glyphicon glyphicon-hand-right"></i>
                        <br />
                        <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                        <br />
                        <i class="glyphicon glyphicon-gift"></i>June 02, 1988
                    </p>
                    <!-- Split button -->
                    <a href="#" class="btn btn-primary btn-sm">Wiadomość</a>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.Identity.GetUserId() == Model.User.Id || User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Edit", "User", new { id = Model.User.UserName })" class class="btn btn-primary btn-sm">Edytuj</a>
        }
    }
</p>
