@using Microsoft.AspNet.Identity
@using Forum.Content.Localization
@model Forum.Models.IndexViewModel

@{
    ViewBag.Title = Resources.Details;
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}


@if (User.Identity.GetUserId() == Model.User.Id || User.IsInRole("Admin"))
{
    <p class="text-success">@ViewBag.StatusMessage</p>

    <div>
        <h3>@Resources.Settings</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>@Resources.Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink(Resources.ChangeYourPassword, "ChangePassword")
                }
                else
                {
                    @Html.ActionLink(Resources.Create, "SetPassword")
                }
                ]
            </dd>

            <dt>@Resources.Language: </dt>
            <dd>
                @Model.User.Language
            </dd>

            <dt>@Resources.Theme: </dt>
            <dd>
                @Model.User.Theme
            </dd>


            <dt>@Resources.SessionTime: </dt>
            <dd>
                @Model.User.SessionTime
            </dd>

            <dt>@Resources.PostsPerPage: </dt>
            <dd>
                @Model.User.PostsPerPage.Quantity
            </dd>
        </dl>
    </div>
}
