@model Forum.Models.UserIndexViewModel
@using Forum.Content.Localization
@{
    ViewBag.Title = "Details";
}

<h2>@Resources.Users</h2>

@foreach (KeyValuePair<Forum.Models.User, Forum.Models.UserDetails> pair in Model.UserPostCount)
{
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @Html.ActionLink(pair.Key.UserName, "Details", new { userName = pair.Key.UserName })
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-lg-2">
                    <div class="pull-left avatar">
                        <img src="@Url.Content(pair.Key.AvatarFilename)" class="avatar-small" />
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-sm-2">
                            @Resources.Language:
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(modelItem => pair.Key.Language)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            @Resources.Posts:
                        </div>
                        <div class="col-sm-1">
                            @Html.DisplayFor(modelItem => pair.Value.PostsCount)
                        </div>
                        <div class="col-sm-2">
                            <a href="@Url.Action("Index", "Post", new { id = pair.Key.Id })" class="btn btn-default btn-xs">@Resources.Posts</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            @Resources.Topics:
                        </div>
                        <div class="col-sm-1">
                            @Html.DisplayFor(modelItem => pair.Value.TopicsCount)
                        </div>
                        <div class="col-sm-2">
                            <a href="@Url.Action("Index", "Topic", new { id = pair.Key.Id })" class="btn btn-default btn-xs">@Resources.Topics</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            @Resources.Groups:
                        </div>
                        <div class="col-sm-4">
                            @foreach (var role in pair.Value.Roles)
                            {
                                @Html.DisplayFor(modelItem => role.Name)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
