
@using Forum.Content.Localization
@using PagedList.Mvc;
@using Forum.Models

@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<h3>@Resources.Messages</h3>
<hr />
<div class="panel panel-primary">
    <div class="panel-heading category-heading">
        @Resources.PrivateThreads
        <a href="@Url.Action("CreateThread", "PrivateMessage")" class="btn btn-primary btn-xs pull-right"><b>@Resources.CreateNew</b></a>
    </div>
    <table class="table table-striped">
        <thead class="thead-inverse forum-heading">
            <tr>
                <th class="col-md-5">@Resources.Topic</th>
                <th class="col-md-1">@Resources.By</th>
                <th class="col-md-1">@Resources.To</th>
                <th class="col-md-1">@Resources.Replies</th>
                <th class="col-md-4">@Resources.LastReply</th>
            </tr>
        </thead>
        <tbody>
            @if (@Model.PrivateThreadsCount == 0)
            {
                <tr>
                    <td class="col-md-5"><b>@Resources.NoThreads</b></td>
                    <td class="col-md-1"></td>
                    <td class="col-md-1"></td>
                    <td class="col-md-1"></td>
                    <td class="col-md-4"></td>
                </tr>
            }
            else
            {
                foreach (PrivateThread item in Model.Threads)
                {
                    <tr>
                        <td class="col-md-5">
                            @if (@item.LastPostAuthor() != @Model.User && item.Seen == false)
                            {
                                <a href="@Url.Action("ViewThread", "PrivateMessage", new { id = item.ID})"><b>@item.Title - @Resources.NEW</b></a>
                            }
                            else
                            {
                                <a href="@Url.Action("ViewThread", "PrivateMessage", new { id = item.ID})">@item.Title</a>
                            }
                        </td>

                        @if (@item.Sender == null)
                        {
                            <td class="col-md-1">SYSTEM</td>
                        }
                        else
                        {
                            <td class="col-md-1">@item.Sender.UserName</td>
                        }
                        <td class="col-md-1">@item.Recipient.UserName</td>
                        <td class="col-md-1">@item.PostCount()</td>
                        <td class="col-md-4">
                            @if (item.LastPostAuthor() != null)
                            {
                                @item.LastPostAuthor().UserName
                            }
                            else
                            {
                                @Resources.Anonymous
                            }
                            @item.LastPostDate()

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="row navigation-row">
    <div class="pager">
        @Html.PagedListPager((PagedList.IPagedList)Model.Threads, page => Url.Action("Index", new { page }))
    </div>
</div>







