@model Forum.Models.PrivateThreadViewModel
@using Forum.Content.Localization
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity

@{    
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            @Model.PrivateThread.Title
            @if (User.Identity.IsAuthenticated)
            {
                if (User.Identity.GetUserId() == Model.User.Id || User.IsInRole("Admin"))
                {
                    @Html.ActionLink(Resources.Delete, "DeleteThread", "PrivateMessage", new { id = Model.PrivateThread.ID }, new { @class = "btn btn-primary btn-xs pull-right", onclick = "return confirm('" + Resources.DeleteConfirmation + "');" })
                }
            }
        </h3>
    </div>
    <div class="panel-body">

        @foreach (var item in Model.Messages)
            {
            <div class="row post-row">
                <div class="col-sm-3">
                    <div class="panel panel-default post-user">
                        <div class="panel-heading">
                            @if (item.Author == null)
                            {
                                <h3 class="panel-title">@Resources.Anonymous</h3>
                            }
                            else
                            {
                                <h3 class="panel-title">@item.Author.UserName</h3>
                            }
                        </div>
                        <div class="panel-body">
                            <!-- AVATAR -->
                            <img src="@Url.Content(@item.Author.AvatarFilename)" class="avatar-post" />

                            <!-- plus jakies dane o użytkowniku ?? -->
                            <hr />
                            <div class="row">
                                <div class="col-sm-4">
                                    <p><b>@Resources.Rank</b></p>
                                    <p><b>@Resources.Posts</b></p>
                                </div>
                                <div class="col-sm-6">
                                    <p>@item.Author.Rank</p>
                                    <p>@item.Author.PostsCount</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="panel panel-default post">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                @Html.DisplayFor(modelItem => item.Date)@if (User.Identity.IsAuthenticated)
                                {
                                    if (User.Identity.GetUserId() == Model.User.Id || User.IsInRole("Admin"))
                                    {
                                        @Html.ActionLink(Resources.Delete, "Delete", "PrivateMessage", new { id = item.ID }, new { @class = "btn btn-primary btn-xs pull-right white", onclick = "return confirm('" + Resources.DeleteConfirmation + "');" })
                                    }
                                }
                            </h3>
                        </div>
                        <div class="panel-body">
                            @Html.Raw(@item.Content)
                        </div>
                        @if (@item.MessageFiles != null && @item.MessageFiles.Count > 0)
                        {
                            <hr />
                            <div class="panel-body">
                                <ul>
                                    @foreach (var _attachment in @item.MessageFiles)
                                    {
                                        <li><a href="@Url.Action("DownloadAttachment", "PrivateMessage", new { fileName = _attachment.Filename })">@_attachment.Filename.Split('/').Last()</a></li>
                                    }
                                </ul>

                            </div>
                        }


                    </div>
                </div>
            </div>
        }
        <div class="row navigation-row">
            <div class="pager">
                @Html.PagedListPager((PagedList.IPagedList)Model.Messages, page => Url.Action("Index", new { page }))
            </div>
        </div>
        <div class="row post-row">
            <div class="col-sm-3">
                <div class="panel panel-default post-user">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Model.User.UserName</h3>
                    </div>
                    <div class="panel-body">
                        <!-- AVATAR -->
                        <img src="@Url.Content(@Model.User.AvatarFilename)" class="avatar-post" />

                        <!-- plus jakies dane o użytkowniku ?? -->
                    </div>
                </div>
            </div>

            <div class="col-sm-9">
                <div class="panel panel-default post">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Resources.Reply</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("CreateReply", "PrivateMessage", new { id = @Model.PrivateThread.ID }, FormMethod.Post,
new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", @rows = 6 } })
                                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="file" class="form-control" name="files" multiple />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="submit" value="@Resources.Send" class="btn btn-default" />
                                    </div>
                                </div>
                                @if (ViewBag.Error != null)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <a class="close" data-dismiss="alert">×</a>
                                        <p>@ViewBag.Error</p>
                                    </div>
                                }


                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
@section scripts
    {
    
    }