
@{
    ViewBag.Title = "Home Page";
}


<div id="myCarousel" class="carousel slide full-width" data-ride="carousel">

    @if (Model.Announcements.Count == 0)
    {
        <!-- Indicators -->
        <ol class="carousel-indicators carousel-indicators-inverse">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner carousel-announcement" role="listbox">
            <div class="item active">
                <img src="http://i.imgur.com/Y6EKE8c.png" alt="img">
                <div class="carousel-caption carousel-inverse">
                    <h3>Ogłoszenia</h3>
                    <p>Miejsce na ogłoszenia</p>
                </div>
            </div>
        </div>
    }
    else
    {
        <!-- Indicators -->
        <ol class="carousel-indicators carousel-indicators-inverse">
            @{ int i = 0;}
            @foreach (var item in Model.Announcements)
            {
                if (i == 0)
                {
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                }
                else
                {
                    <li data-target="#myCarousel" data-slide-to="@i"></li>
                }
                i++;
            }
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner carousel-announcement" role="listbox">
            @{ int j = 0;}
            @foreach (var item in Model.Announcements)
            {
                if (j == 0)
                {
                    <div class="item active">
                        <img src="http://i.imgur.com/Y6EKE8c.png" alt="img">
                        <div class="carousel-caption carousel-inverse">
                            <h3>@item.Title</h3>
                            <p>@item.Content</p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="item">
                        <img src="http://i.imgur.com/Y6EKE8c.png" alt="img">
                        <div class="carousel-caption carousel-inverse">
                            <h3>@item.Title</h3>
                            <p>@item.Content</p>
                        </div>
                    </div>
                }
                j++;
            }
        </div>
    }

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container">
    @foreach (KeyValuePair<Forum.Models.Category, List<Forum.Models.Forum>> pair in Model.CategoryForums)
    {
        <div class="panel panel-primary panel-index">
            <div class="panel-heading category-heading">@pair.Key.Name</div>
            <table class="table table-striped">
                <thead class="thead-inverse forum-heading">
                    <tr>
                        <th class="col-md-8">Forum</th>
                        <th class="col-md-2">Tematów</th>
                        <th class="col-md-2">Postów</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in pair.Value)
                    {
                        <tr>
                            <td class="col-md-8"><a href="@Url.Action("Details", "Forum", new { id = item.ID})">@item.Name</a></td>
                            <td class="col-md-2">@item.TopicCount</td>
                            <td class="col-md-2">@item.PostCount</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>