@model Forum.Models.CategoryViewModel
@using Forum.Content.Localization

<div class="container">
    <div class="row navigation-row">
        <a href="@Url.Action("Index", "Home")" class="btn btn-link">Forum</a>
        <b>></b>
        <a href="@Url.Action("Details", "Category", new { id = Model.Category.ID })" class="btn btn-link">@Model.Category.Name</a>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading category-heading">
            @Model.Category.Name
        </div>
        <table class="table table-striped">
            <thead class="thead-inverse forum-heading">
                <tr>
                    <th class="col-md-8">Forum</th>
                    <th class="col-md-2">@Resources.Topics</th>
                    <th class="col-md-2">@Resources.Posts</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Fora.Count == 0)
                {
                    <tr>
                        <td class="col-md-8"><b>@Resources.NoForum</b></td>
                        <td class="col-md-2"></td>
                        <td class="col-md-2"></td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model.Fora)
                    {
                        <tr>
                            <td class="col-md-8">
                                @if (item.IsPublic)
                                {
                                    <span class="label label-success">@Resources.Public</span>
                                }
                                <a href="@Url.Action("Details", "Forum", new { id = item.ID})">@item.Name</a>
                            </td>
                            <td class="col-md-2">@item.TopicCount</td>
                            <td class="col-md-2">@item.PostCount</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
